In [1]:
from numpy.core.numeric import NaN
import requests
from requests_toolbelt.multipart.encoder import MultipartEncoder
import pandas as pd
from bs4 import BeautifulSoup
import os
import argparse
from halo import Halo

In [3]:
api = "https://daryna.blogtivity.id/log/login"
body = "username="+"axa_suksesd640e"+"&password="+"derilalwinda#"
with requests.Session() as s:
    print("Logging in to blogtivity..")
    req = s.get("https://daryna.blogtivity.id/log/")
    cookie = {'PHPSESSID': req.cookies['PHPSESSID']}
    r = s.post(api, data=body, cookies=cookie,headers={
    "Host": "daryna.blogtivity.id",
    "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9",
    "Accept-Encoding": "gzip, deflate, br",
    "Accept-Language": "id-ID,id;q=0.9,en-US;q=0.8,en;q=0.7,af;q=0.6,ms;q=0.5",
    "Cache-Control": "max-age=0",
    "Content-Length": str(len(body)),
    "Content-Type": "application/x-www-form-urlencoded",
    "Origin": "https://daryna.blogtivity.id",
    "Referer": "https://daryna.blogtivity.id/log/index/status/EhjT1YDERZ5gxbLl5pYoMwgQY2kEtwW4M1RBRWJ0SnlzQkRGT2JvRVMxSGJsQT09nw8WiR3yjLWv4UZ5iTJ7E1cDqQCYjUGG",
    "Upgrade-Insecure-Requests": "1",
    "User-Agent" : "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/92.0.4515.159 Safari/537.36"
    })
    if "Blogtivity Admin | Dashboard" in r.text:
        print("Logged in")
        print("Cek untuk data baru..")
        blogs = s.get("https://daryna.blogtivity.id/accounts/blog",cookies=cookie)
        soup = BeautifulSoup(blogs.text, "html.parser")
        rows = soup.find_all('table')[0].find_all("tr")
        df_new = pd.DataFrame()  
        for row in rows:
            cells = row.find_all('td')
            if(len(cells) > 0):
                new_row = {
                    "id" : cells[0].text,
                    "blog_title" : cells[2].text,
                    "blog_url" : cells[2].find('a')['href'],
                }
                df_new = df_new.append(new_row, ignore_index=True)

        df_new["xml"] = "-"
        df_new = df_new.set_index('id')

Logging in to blogtivity..
Logged in
Cek untuk data baru..

In [7]:
df_new.index

Index(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10',
       ...
       '1546', '1547', '1548', '1549', '1550', '1551', '1552', '1553', '1554',
       '1555'],
      dtype='object', name='id', length=1555)

In [8]:
df_new.to_csv("df_new.csv")

In [9]:
df_old = pd.read_csv("df_new.csv")

In [11]:
df_old["id"]

0          1
1          2
2          3
3          4
4          5
        ...
1550    1551
1551    1552
1552    1553
1553    1554
1554    1555
Name: id, Length: 1555, dtype: int64

In [12]:
df_new["id"] = df_new.index

In [20]:
df_old

,id,blog_title,blog_url,xml
0,1,szilviolvas,https://daryna.blogtivity.id/accounts/blogdeta...,-
1,2,thesoftwaretop,https://daryna.blogtivity.id/accounts/blogdeta...,-
2,3,softwarenewpad,https://daryna.blogtivity.id/accounts/blogdeta...,-
3,4,thesbreview,https://daryna.blogtivity.id/accounts/blogdeta...,-
4,5,carautosports,https://daryna.blogtivity.id/accounts/blogdeta...,-
...,...,...,...,...
1550,1551,Food Manor,https://daryna.blogtivity.id/accounts/blogdeta...,-
1551,1552,Food Lounge,https://daryna.blogtivity.id/accounts/blogdeta...,-
1552,1553,Food Lobby,https://daryna.blogtivity.id/accounts/blogdeta...,-
1553,1554,Food Lane,https://daryna.blogtivity.id/accounts/blogdeta...,-
1554,1555,Food Lab,https://daryna.blogtivity.id/accounts/blogdeta...,-

In [21]:
df_old.at[1502, 'xml'] = "blogspot-e12.xml"
df_old.at[1503, 'xml'] = "blogspot-e11.xml"
df_old.at[1504, 'xml'] = "blogspot-e10.xml"
df_old.at[1505, 'xml'] = "blogspot-e1.xml"

In [22]:
df_old.set_index("id")

          blog_title                                           blog_url xml
id
1        szilviolvas  https://daryna.blogtivity.id/accounts/blogdeta...   -
2     thesoftwaretop  https://daryna.blogtivity.id/accounts/blogdeta...   -
3     softwarenewpad  https://daryna.blogtivity.id/accounts/blogdeta...   -
4        thesbreview  https://daryna.blogtivity.id/accounts/blogdeta...   -
5      carautosports  https://daryna.blogtivity.id/accounts/blogdeta...   -
...              ...                                                ...  ..
1551      Food Manor  https://daryna.blogtivity.id/accounts/blogdeta...   -
1552     Food Lounge  https://daryna.blogtivity.id/accounts/blogdeta...   -
1553      Food Lobby  https://daryna.blogtivity.id/accounts/blogdeta...   -
1554       Food Lane  https://daryna.blogtivity.id/accounts/blogdeta...   -
1555        Food Lab  https://daryna.blogtivity.id/accounts/blogdeta...   -

[1555 rows x 3 columns]

In [23]:
df_old.to_csv("blogs.csv")

In [25]:
df_old = pd.read_csv("blogs.csv")

In [27]:
df_old[["id","xml"]]

        id xml
0        1   -
1        2   -
2        3   -
3        4   -
4        5   -
...    ...  ..
1550  1551   -
1551  1552   -
1552  1553   -
1553  1554   -
1554  1555   -

[1555 rows x 2 columns]

In [37]:
df_old = pd.read_csv("blogs.csv")
df_old

,Unnamed: 0,id,blog_title,blog_url,xml
0,0,1,szilviolvas,https://daryna.blogtivity.id/accounts/blogdeta...,-
1,1,2,thesoftwaretop,https://daryna.blogtivity.id/accounts/blogdeta...,-
2,2,3,softwarenewpad,https://daryna.blogtivity.id/accounts/blogdeta...,-
3,3,4,thesbreview,https://daryna.blogtivity.id/accounts/blogdeta...,-
4,4,5,carautosports,https://daryna.blogtivity.id/accounts/blogdeta...,-
...,...,...,...,...,...
1550,1550,1551,Food Manor,https://daryna.blogtivity.id/accounts/blogdeta...,-
1551,1551,1552,Food Lounge,https://daryna.blogtivity.id/accounts/blogdeta...,-
1552,1552,1553,Food Lobby,https://daryna.blogtivity.id/accounts/blogdeta...,-
1553,1553,1554,Food Lane,https://daryna.blogtivity.id/accounts/blogdeta...,-
1554,1554,1555,Food Lab,https://daryna.blogtivity.id/accounts/blogdeta...,-

In [44]:
df_new = pd.read_csv("test.csv")

In [45]:
df_new['xml'] = df_new["id"].map(df_old.set_index('id')['xml'])

In [46]:
df_new[df_new["xml"] != "-"]

,id,blog_title,blog_url,xml
1502,1503,Food Bay,https://daryna.blogtivity.id/accounts/blogdeta...,blogspot-e12.xml
1503,1504,Food Base,https://daryna.blogtivity.id/accounts/blogdeta...,blogspot-e11.xml
1504,1505,Food Barn,https://daryna.blogtivity.id/accounts/blogdeta...,blogspot-e10.xml
1505,1506,Food Avenue,https://daryna.blogtivity.id/accounts/blogdeta...,blogspot-e1.xml

In [55]:
df_old = pd.read_csv("blogs.csv")
df_old = df_old[df_old["xml"] != "-"][["id","xml"]]

In [56]:
df_old

        id               xml
1502  1503  blogspot-e12.xml
1503  1504  blogspot-e11.xml
1504  1505  blogspot-e10.xml
1505  1506   blogspot-e1.xml

In [65]:
df_old = pd.read_csv("blogs.csv")

In [66]:
df_old = df_old[df_old["xml"] != "-"][["id","xml"]].set_index("id")

In [79]:
for index, row in df_old.iterrows():
    df_new.at[index,"xml"] = row["xml"]

In [77]:
df_new["xml"] = "-"

In [75]:
df_new['xml'] = df_new.index.map(df_old['xml'])

In [76]:
df_new[df_new["xml"] != "-"]

,id,blog_title,blog_url,xml
0,1,szilviolvas,https://daryna.blogtivity.id/accounts/blogdeta...,NaN
1,2,thesoftwaretop,https://daryna.blogtivity.id/accounts/blogdeta...,NaN
2,3,softwarenewpad,https://daryna.blogtivity.id/accounts/blogdeta...,NaN
3,4,thesbreview,https://daryna.blogtivity.id/accounts/blogdeta...,NaN
4,5,carautosports,https://daryna.blogtivity.id/accounts/blogdeta...,NaN
...,...,...,...,...
1550,1551,Food Manor,https://daryna.blogtivity.id/accounts/blogdeta...,NaN
1551,1552,Food Lounge,https://daryna.blogtivity.id/accounts/blogdeta...,NaN
1552,1553,Food Lobby,https://daryna.blogtivity.id/accounts/blogdeta...,NaN
1553,1554,Food Lane,https://daryna.blogtivity.id/accounts/blogdeta...,NaN
1554,1555,Food Lab,https://daryna.blogtivity.id/accounts/blogdeta...,NaN

In [80]:
xml_in_dir = os.listdir("xmls/"+"food")
xml_assigned = df_new[df_new.xml != "-"]["xml"].to_list()

In [81]:
xml_in_dir

['blogspot-e12.xml', 'blogspot-e11.xml', 'blogspot-e10.xml', 'blogspot-e1.xml']

In [110]:
print(xml_in_dir)
print(xml_assigned)
xml_available = [x for x in xml_in_dir if x not in xml_assigned]
print(xml_available)

['blogspot-e12.xml', 'blogspot-e11.xml', 'blogspot-e10.xml', 'blogspot-e1.xml']
['blogspot-e12.xml', 'blogspot-e11.xml', 'blogspot-e10.xml', 'blogspot-e1.xml', 'asd.xml']
[]

In [96]:
xml_available

[]

In [89]:
xml_assigned

['blogspot-e12.xml',
 'blogspot-e11.xml',
 'blogspot-e10.xml',
 'blogspot-e1.xml',
 'asd.xml']